@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins&family=Red+Hat+Text:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .mob {
    text-align: center;
    font-family: "Major Mono Display", monospace;
    font-size: 100px;
  }
  
  body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 35px;
  }
  
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
  }

  .url-container {
    font-size: 40px;
  }

  button {
      text-align: center;
      font-size: 35px;
      font-family: "Poppins";
  }

  p {
      text-align: center;
      align-items: center;
  }

  #rounded-edge1 {
    text-align: center;
    border-radius: 45px;
    border: 2px solid #e4a0b0;
    padding: 20px;
    width: 800px;
    height: 30px;
  }
  
  #rounded-edge2 {
    text-align: center;
    border-radius: 45px;
    border: 2px solid #cfd992;
    background: #cfd992;
    padding: 20px;
    width: 275px;
    height: 100px;
  }
  
  /*.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }*/
  